@import 'normalize.css/normalize';
@import 'vars.scss';
@import 'header.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'media.scss';
@import 'mixins.scss';

*, *::before, *::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

li, ul, ol {
  list-style-type: none;
}

small, p {
  font: $--normal-text; 

  color: $--additional-color;
}

h1, h2, h3, h4, h5, h6, p, a, button, small, strong {
  margin: 0;
  padding: 0;
}

h1 {
  font: $--biggest-text;

  color: $--main-color;
}

h2 {
  font: $--middle-text;

  color: $--main-color;
}

h3 {
  font: $--normal-text;

  color: $--main-color;
}

a {
  text-decoration: none;

  font: $--normal-text; 
  color: $--main-color;
  &:hover {
    transition: .4s;
    color: $--main-color-hover;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  border-radius: 3.125rem;
  
  background: none;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

main {
  width: 100%;
  height: auto;

  overflow-x: hidden;

  background: url('/img/bgc.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

//

.about__us-wrap , .quick__start-wrap , .ability__content-wrap , .partners__content-wrap , .system__content-wrap , .col__content-wrap , .footer-wrap {
  width: 100%;
  height: auto;

  padding: 7.5rem 0;
}

.about__us-wrap {
  padding: 10rem 0;
}

.footer-wrap {
  padding: 0rem 0 3rem 0;
}

.partners__content-inner , .about__us-inner , .ability__content-inner , .quick__start-inner , .system__content-inner , .col__content-inner , .footer__inner {
  width: 80%;
  height: 100%;

  margin: 0 auto;
}

.caption {
  width: auto;
  height: auto;
  .title {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

/*========== ProgressBar ==========*/

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: $--additional-gradient-color;
  border-radius: 0.25rem;
}

/*========== Preloader ==========*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $--z-fixed;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(0, 0, 0);
}

.hide-preloader {
  animation: hide-preloader 1s;
}

.preloader-hidden {
  display: none;
}

@keyframes hide-preloader {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

// =================== SCROLL UP ====================== //

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: $--body-color-light;
  border-radius: .25rem;
  padding: .45rem;
  opacity: .9;
  z-index: 99;
  transition: .4s;
  &:hover {
    background-color: rgba(78, 78, 78, 0.75);
    opacity: 1;
  }
}

.scrollup__icon {
  color: white;
  font-size: 1.35rem;
}

/*      show scroll up      */

.show-scroll {
  bottom: 5rem !important;
}