@import 'vars.scss';
@import 'mixins.scss';

.partners__content-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10rem);

  margin: 5rem 0;
  .partners__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parents__container-first , .parents__container-second , .parents__container-third , .parents__container-fifth , .parents__container-sixth , .parents__container-seventh {
    border-right: 0.05rem solid $--additional-color;
  }
  .parents__container-first , .parents__container-second , .parents__container-third , .parents__container-fourth {
    border-bottom: 0.05rem solid $--additional-color;
  }
}